body {
    font-family: Arial, sans-serif;
    background: url(../jurusan3.png) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
}

.box {
    width: 100%;
    max-width: 1000px;
    padding: 19px;
    background-color: #FAF0E6; /* Dark background color */
    color: black;
    border: 5px solid black; /* White border to mimic a frame */
    box-shadow: 10 10 20px rgba(0, 0, 0, 0.5); /* Shadow for a 3D effect */
    border-radius: 10px; /* Rounded corners */
    text-align: left;
    position: relative;
    margin-top: 50px;
}

.box h1, .box p {
    color: #ecf0f1; /* Light gray for a chalk effect */
    font-family: 'Shadows Into Light', cursive; /* Handwritten font */
}

.box::before, .box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black; /* Same color as border for frame effect */
    left: 0;
}

.box::before {
    top: -5px;
}

.box::after {
    bottom: -5px;
}

header {
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    width: 100%;
    height: 20%;
    background-color: black;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #BDB76B;
    color:black;
}

tr {
    background-color: #CD853F;
    color: black;
}

.hidden-row table {
    width: 100%;
    margin-top: 10px;
    border: none;
}

.hidden-row table, .hidden-row th, .hidden-row td {
    border: 1px solid black;
}

.hidden-row th {
    background-color: #BDB76B;
}

.expand-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.expand-button.collapsed .fa-caret-down {
    transform: rotate(-90deg);
}

.expand-button.expanded .fa-caret-down {
    transform: rotate(0deg);
}

a {
    text-decoration: none;
    color: white;
}

#a2 {
    text-decoration: none;
    color: black;
}

.a3 {
    text-decoration: none;
    color: black;
}

#a4 {
    text-decoration: none;
    color: black;
}

#a5 {
    text-decoration: underline;
    color: white;
}

#a5:hover {
    text-decoration: underline;
    color: black;
}

button {
    padding: 5px 10px;
    background-color: #D7C0AE;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 5px;
}

button:hover {
    background-color: #967E76;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-primary:active {
    background-color: #004085;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    width: 300px;
    max-width: 90%;
}

.popup.active {
    display: block;
}

.popup label {
    display: block;
    margin: 10px 0 5px;
}

.popup input[type="text"], .popup input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #45a049;
}

.popup button[type="button"] {
    background-color: #f44336;
}

.popup button[type="button"]:hover {
    background-color: #e53935;
}
